# Death rate and leading causes analysis.

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

In [2]:
pd.__version__

'0.23.0'

In [3]:
np.__version__

'1.13.3'

In [4]:
path = "C:\\Users\\tahsi\\Documents\\SPRING 2019\\CSC 59969 Visualization\\nyc_death\\"
df_nycdeath = pd.read_csv(path+ 'New_York_City_Leading_Causes_of_Death.csv')

In [5]:
df_nycdeath= df_nycdeath.sort_values(by=['Year']).reset_index(drop=True)

In [6]:
df_nycdeath.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),F,Not Stated/Unknown,.,.,.
1,2007,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,659,45.9,23.2
2,2007,All Other Causes,F,Hispanic,820,70.2,85.6
3,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Not Stated/Unknown,.,.,.
4,2007,"Chronic Liver Disease and Cirrhosis (K70, K73)",M,Asian and Pacific Islander,18,3.7,3.6

### Strip white spaces and replace nan value with mean of the column

In [7]:
df_nycdeath['Death Rate'] =df_nycdeath['Death Rate'].str.lstrip(".")  
df_nycdeath['Death Rate'] = pd.to_numeric(df_nycdeath['Death Rate'], errors='coerce')
df_nycdeath['Death Rate'] = df_nycdeath['Death Rate'].fillna(df_nycdeath['Death Rate'].mean())

In [26]:
df_nycdeath['Deaths'] =df_nycdeath['Deaths'].str.lstrip(".")  
df_nycdeath['Deaths'] = pd.to_numeric(df_nycdeath['Deaths'], errors='coerce')
df_nycdeath['Deaths'] = df_nycdeath['Deaths'].fillna(df_nycdeath['Deaths'].mean())

In [36]:
df_nycdeath['Age Adjusted Death Rate'] =df_nycdeath['Age Adjusted Death Rate'].str.lstrip(".")  
df_nycdeath['Age Adjusted Death Rate'] = pd.to_numeric(df_nycdeath['Age Adjusted Death Rate'], errors='coerce')
df_nycdeath['Age Adjusted Death Rate'] = df_nycdeath['Age Adjusted Death Rate'].fillna(df_nycdeath['Age Adjusted Death Rate'].mean())

In [41]:
df_nycdeath.dtypes

Year                         int64
Leading Cause               object
Sex                         object
Race Ethnicity              object
Deaths                     float64
Death Rate                 float64
Age Adjusted Death Rate    float64
dtype: object

In [45]:
df_nycdeath.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),F,Not Stated/Unknown,448.161345,53.548136,52.783616
1,2007,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,659.000000,45.900000,23.200000
2,2007,All Other Causes,F,Hispanic,820.000000,70.200000,85.600000
3,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Not Stated/Unknown,448.161345,53.548136,52.783616
4,2007,"Chronic Liver Disease and Cirrhosis (K70, K73)",M,Asian and Pacific Islander,18.000000,3.700000,3.600000

In [54]:
df_nycdeath.to_csv(path+'Final Dataset.csv')